In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')

In [3]:
# show dataframe shape
data.shape

(10910, 26)

In [4]:
# Standardize header names
data.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [5]:
data = data.rename(columns={'EmploymentStatus':'Employment Status'
                                                                })

In [6]:
data=data.drop(['Unnamed: 0'], axis=1)

In [7]:
# Which columns are numerical?
data._get_numeric_data()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
4,9025.067525,23675,117,NaN,31,NaN,7,707.925645
...,...,...,...,...,...,...,...,...
10905,15563.369440,0,253,NaN,40,NaN,7,1214.400000
10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996
10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849
10909,6857.519928,0,101,31.0,1,0.0,3,1021.719397

In [8]:
# Which columns are categorical?
data.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
Employment Status                 object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

In [9]:
# Check and deal with NaN values
data.head(60)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,Income,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
5,HO81102,NaN,4745.181764,NaN,Basic,High School or Below,2/14/11,Employed,M,50549,...,0.0,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A
6,IW72280,California,5035.035257,No,Basic,Doctor,2/14/11,Employed,F,37405,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,NaN
7,IH64929,California,4956.247235,No,Basic,High School or Below,2/24/11,Employed,M,87197,...,0.0,3,Personal Auto,Personal L2,Offer2,Branch,247.402353,Two-Door Car,Medsize,NaN
8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,66839,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,NaN
9,QX31376,Oregon,17114.328150,No,Extended,Master,1/4/11,Employed,F,70961,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small,NaN
10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,82730,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
11,GE63585,NaN,2420.711888,NaN,Basic,Bachelor,2/7/11,Employed,M,31710,...,0.0,1,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize,NaN
12,EO51920,Oregon,19955.257130,No,Extended,High School or Below,1/31/11,Employed,F,69096,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Agent,64.669515,Four-Door Car,Medsize,NaN
13,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,M,66334,...,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A
14,TL59568,Arizona,12836.009510,No,Premium,High School or Below,2/28/11,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L2,Offer3,Agent,835.200000,Two-Door Car,Medsize,NaN
15,CW49887,California,4626.801093,Yes,Basic,Master,1/16/11,Employed,F,79487,...,0.0,1,Special Auto,Special L1,Offer2,Branch,547.200000,SUV,Medsize,NaN
16,FH51383,California,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,76717,...,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A
17,TR26615,Oregon,2497.531509,No,Basic,High School or Below,1/17/11,Unemployed,M,0,...,0.0,1,Corporate Auto,Corporate L2,Offer2,Branch,272.381465,Two-Door Car,Medsize,A
18,ZC97968,California,2736.352663,No,Basic,College,2/14/11,Disabled,M,17533,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,350.400000,Two-Door Car,Medsize,A
19,NJ54277,California,3746.751625,Yes,Extended,College,2/26/11,Employed,F,41479,...,1.0,1,Personal Auto,Personal L2,Offer2,Call Center,19.575683,Two-Door Car,Large,A
20,OM80593,California,7247.313475,No,Basic,Bachelor,2/23/11,Unemployed,F,0,...,0.0,7,Personal Auto,Personal L3,Offer1,Call Center,499.200000,SUV,Medsize,A
21,RL65736,Oregon,6274.447705,No,Extended,High School or Below,2/14/11,Medical Leave,F,13662,...,0.0,3,Personal Auto,Personal L1,Offer1,Agent,408.000000,Four-Door Car,Small,NaN
22,EQ62488,Oregon,15031.564500,No,Basic,College,1/15/11,Employed,F,59456,...,0.0,8,Personal Auto,Personal L3,Offer2,Call Center,907.200000,Luxury Car,Large,A
23,NQ71171,California,5107.071054,No,Basic,Bachelor,2/2/11,Employed,M,70174,...,NaN,7,Personal Auto,Personal L2,Offer1,Agent,128.900320,Four-Door Car,Medsize,NaN
24,YK32760,Oregon,2502.209885,No,Basic,High School or Below,2/15/11,Unemployed,M,0,...,1.0,1,Corporate Auto,Corporate L1,Offer1,Agent,355.200000,Four-Door Car,Medsize,A
25,AY59197,Nevada,9521.222806,No,Extended,College,1/24/11,Employed,M,27769,...,0.0,6,Special Auto,Special L3,Offer4,Agent,123.154160,SUV,Small,A
26,XF15789,Arizona,8869.619888,No,Basic,College,2/21/11,Employed,F,81350,...,0.0,9,Personal Auto,Personal L3,Offer3,Branch,228.185834,SUV,Large,A
27,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2/28/11,Employed,F,63774,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,60.036683,Four-Door Car,Medsize,NaN
28,CI99444,Nevada,2926.886293,No,Basic,College,2/22/11,Employed,F,92381,...,0.0,1,Special Auto,Special L2,Offer2,Call Center,234.774747,Four-Door Car,Medsize,A
29,BD70337,California,24706.920110,No,Basic,High School or Below,1/7/11,Medical Leave,M,26307,...,0.0,2,Personal Auto,Personal L2,Offer4,Call Center,313.192439,Four-Door Car,Medsize,NaN
30,GX19342,California,8491.465719,No,Premium,High School or Below,1/28/11,Unemployed,F,0,...,0.0,3,Personal Auto,Personal L3,Offer1,Branch,1193.115879,Four-Door Car,Large,A
31,DP19210,California,9191.733549,No,Basic,Master,2/8/11,Employed,F,23823,...,0.0,6,Corporate Auto,Corporate L2,Offer2,Branch,567.480550,Sports Car,Medsize,NaN
32,OJ63606,Arizona,5776.338737,No,Premium,High School or Below,1/28/11,Medical Leave,F,27510,...,3.0,1,Corporate Auto,Corporate L3,Offer1,Call Center,871.457982,SUV,Small,A
33,OH23893,California,9115.571690,No,Basic,Bachelor,2/15/11,Employed,F,69588,...,0.0,6,Personal Auto,Personal L1,Offer1,Branch,173.080024,SUV,Medsize,NaN
34,RI76930,California,4163.040810,No,Basic,College,2/12/11,Employed,F,43276,...,0.0,1,Personal Auto,Personal L3,Offer2,Call Center,499.200000,SUV,Large,NaN
35,YK26558,California,5264.642009,No,Basic,College,2/20/11,Unemployed,F,0,...,0.0,8,Special Auto,Special L3,Offer1,Branch,135.888306,Four-Door Car,Medsize,NaN
36,OE15005,California,3945.241604,No,Basic,College,1/5/11,Medical Leave,M,28855,...,0.0,1,Personal Auto,Personal L2,Offer3,Call Center,647.442031,SUV,Medsize,NaN
37,RA17555,Oregon,5176.730072,No,Basic,High School or Below,2/7/11,Employed,M,41533,...,0.0,9,Corporate Auto,Corporate L2,Offer3,Agent,232.879766,Four-Door Car,Medsize,NaN
38,ZI34278,Arizona,4492.233480,No,Basic,Bachelor,1/28/11,Medical Leave,F,21137,...,1.0,6,Personal Auto,Personal L1,Offer2,Web,292.800000,Four-Door Car,Medsize,NaN
39,XD72019,Oregon,8470.043225,No,Extended,Bachelor,2/19/11,Unemployed,F,0,...,0.0,2,Personal Auto,Personal L2,Offer2,Web,479.312226,Four-Door Car,Large,A
40,RR93140,California,2880.348532,No,Basic,College,1/5/11,Employed,F,81565,...,0.0,1,Personal Auto,Personal L2,Offer2,Branch,190.642833,Four-Door Car,Medsize,A
41,BE25221,Arizona,6182.618843,No,Extended,High School or Below,2/7/11,Medical Leave,M,20072,...,0.0,9,Corporate Auto,Corporate L3,Offer1,Agent,473.266879,Four-Door Car,Medsize,NaN
42,PV62583,Nevada,9799.175061,No,Extended,College,1/3/11,Medical Leave,M,22166,...,0.0,6,Personal Auto,Personal L3,Offer1,Web,604.800000,SUV,Medsize,A
43,BL12371,Arizona,5790.565333,No,Basic,Master,2/3/11,Employed,M,84551,...,0.0,5,Personal Auto,Personal L3,Offer2,Agent,28.925840,Four-Door Car,Large,A
44,ER49844,Arizona,5041.447024,No,Basic,College,1/19/11,Employed,M,61972,...,2.0,5,Personal Auto,Personal L1,Offer4,Call Center,138.961963,Four-Door Car,Medsize,NaN
45,RI22468,Arizona,5745.943340,No,Basic,Bachelor,1/22/11,Employed,F,57740,...,3.0,9,Personal Auto,Personal L1,Offer3,Web,269.905129,Four-Door Car,Medsize,A
46,SY48591,Arizona,4827.776810,No,Basic,College,1/17/11,Unemployed,F,0,...,0.0,6,Personal Auto,Personal L3,Offer1,Branch,326.400000,Four-Door Car,Medsize,NaN
47,PR23514,California,7664.219255,No,Basic,College,1/23/11,Employed,M,60184,...,1.0,1,Personal Auto,Personal L3,Offer2,Web,161.615740,Luxury SUV,Medsize,NaN
48,UY32623,California,3593.126450,No,Extended,College,2/5/11,Disabled,F,18213,...,1.0,1,Corporate Auto,Corporate L2,Offer1,Branch,460.800000,Four-Door Car,Large,A
49,QV30663,Nevada,9863.502214,No,Extended,Master,2/28/11,Employed,F,99654,...,0.0,3,Personal Auto,Personal L3,Offer3,Call Center,272.788141,SUV,Medsize,A
50,MS94619,California,5111.304579,No,Basic,High School or Below,2/13/11,Employed,F,76448,...,0.0,3,Personal Auto,Personal L3,Offer3,Web,302.400000,Four-Door Car,Medsize,A
51,FT56968,Arizona,2590.096027,No,Basic,High School or Below,1/3/11,Employed,M,22398,...,NaN,1,Personal Auto,Personal L1,Offer1,Agent,321.600000,Four-Door Car,Large,A
52,TX39594,Arizona,2452.491364,No,Basic,High School or Below,1/25/11,Employed,F,51085,...,1.0,1,Personal Auto,Personal L3,Offer3,Call Center,406.902001,Two-Door Car,Small,NaN
53,GR42174,Oregon,2194.668123,No,Basic,College,1/2/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,623.525433,Four-Door Car,Medsize,NaN
54,XI79589,California,4473.883999,No,Extended,High School or Below,2/16/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L1,Offer1,Branch,600.000000,SUV,Medsize,NaN
55,XQ74827,Arizona,19435.629240,No,Extended,High School or Below,2/1/11,Employed,F,38688,...,0.0,3,Special Auto,Special L3,Offer1,Agent,2294.631639,Luxury Car,Medsize,A
56,TW17878,Oregon,2457.576007,No,Basic,High School or Below,1/27/11,Employed,F,52926,...,0.0,1,Personal Auto,Personal L3,Offer1,Call Center,292.800000,Four-Door Car,Medsize,NaN
57,GB43363,Oregon,6870.607058,No,Premium,College,1/24/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L3,Offer1,Branch,756.000000,Four-Door Car,Small,A
58,BR69566,NaN,14019.833140,NaN,Basic,College,2/18/11,Employed,M,31739,...,0.0,2,Personal Auto,Personal L3,Offer4,Call Center,469.882367,Two-Door Car,Small,NaN
59,EP83939,Arizona,5575.751228,No,Basic,High School or Below,1/26/11,Employed,M,91416,...,NaN,5,Personal Auto,Personal L3,Offer2,Call Center,109.904496,Four-Door Car,Medsize,NaN

In [10]:
data.isna().sum()

Customer                            0
State                             631
Customer Lifetime Value             0
Response                          631
Coverage                            0
Education                           0
Effective To Date                   0
Employment Status                   0
Gender                              0
Income                              0
Location Code                       0
Marital Status                      0
Monthly Premium Auto                0
Months Since Last Claim           633
Months Since Policy Inception       0
Number of Open Complaints         633
Number of Policies                  0
Policy Type                         0
Policy                              0
Renew Offer Type                    0
Sales Channel                       0
Total Claim Amount                  0
Vehicle Class                     622
Vehicle Size                      622
Vehicle Type                     5482
dtype: int64

In [11]:
round(data.isna().sum()/len(data),4)*100

Customer                          0.00
State                             5.78
Customer Lifetime Value           0.00
Response                          5.78
Coverage                          0.00
Education                         0.00
Effective To Date                 0.00
Employment Status                 0.00
Gender                            0.00
Income                            0.00
Location Code                     0.00
Marital Status                    0.00
Monthly Premium Auto              0.00
Months Since Last Claim           5.80
Months Since Policy Inception     0.00
Number of Open Complaints         5.80
Number of Policies                0.00
Policy Type                       0.00
Policy                            0.00
Renew Offer Type                  0.00
Sales Channel                     0.00
Total Claim Amount                0.00
Vehicle Class                     5.70
Vehicle Size                      5.70
Vehicle Type                     50.25
dtype: float64

In [12]:
data['Vehicle Type'].value_counts(dropna=False)/len(data)

NaN    0.502475
A      0.497525
Name: Vehicle Type, dtype: float64

In [13]:
# 50% of values is null in 'Vehiche Type' and other 50% are 'A' -> Substitute null values for 'A'
data['Vehicle Type'] = data['Vehicle Type'].fillna('A')

In [14]:
data['State'].value_counts(dropna=False)/len(data)

California    0.325573
Oregon        0.266636
Arizona       0.177544
Nevada        0.091017
Washington    0.081393
NaN           0.057837
Name: State, dtype: float64

In [15]:
# No clear what criteria to use to replace Null numbers in 'State', since they are cathegorical. Replacing null number for 'Unknown'
data['State'] = data['State'].fillna('Unknown')

In [16]:
data['Response'].value_counts(dropna=False)/len(data)

No     0.807791
Yes    0.134372
NaN    0.057837
Name: Response, dtype: float64

In [17]:
# Since 80.7% has no response, Null -> No
data['Response'] = data['Response'].fillna('No')

In [18]:
data['Months Since Last Claim'].value_counts(dropna=False)

NaN     633
3.0     426
6.0     394
1.0     386
7.0     378
4.0     373
2.0     368
5.0     355
0.0     354
10.0    346
16.0    333
11.0    331
15.0    323
13.0    320
8.0     315
12.0    307
17.0    299
14.0    299
9.0     277
19.0    276
23.0    276
25.0    269
21.0    267
18.0    257
20.0    254
22.0    246
24.0    237
29.0    234
28.0    227
31.0    221
26.0    211
27.0    208
30.0    201
34.0    199
33.0    198
35.0    157
32.0    155
Name: Months Since Last Claim, dtype: int64

In [19]:
# Not clear if it is better to use mean or median...Replacing null -> median
Menian_Months_Since_Last_Claim = data['Months Since Last Claim'].median()
data['Months Since Last Claim'] = data['Months Since Last Claim'].fillna(Menian_Months_Since_Last_Claim)

In [20]:
data['Number of Open Complaints'].value_counts(dropna=False)/len(data)

0.0    0.747938
1.0    0.104950
NaN    0.058020
2.0    0.037947
3.0    0.029698
4.0    0.015215
5.0    0.006233
Name: Number of Open Complaints, dtype: float64

In [21]:
# Since 80.6% has 0 complaints, Null -> 0
data['Number of Open Complaints'] = data['Number of Open Complaints'].fillna(0.0)

In [22]:
data['Vehicle Class'].value_counts(dropna=False)/len(data)

Four-Door Car    0.477727
Two-Door Car     0.194134
SUV              0.184418
NaN              0.057012
Sports Car       0.050412
Luxury SUV       0.019065
Luxury Car       0.017232
Name: Vehicle Class, dtype: float64

In [23]:
data['Vehicle Class'].value_counts(dropna=False)/len(data)

Four-Door Car    0.477727
Two-Door Car     0.194134
SUV              0.184418
NaN              0.057012
Sports Car       0.050412
Luxury SUV       0.019065
Luxury Car       0.017232
Name: Vehicle Class, dtype: float64

In [24]:
# 'Four door class' is the mode (with 47.7% of total) so I will replace Null values with this value
data['Vehicle Class'] = data['Vehicle Class'].fillna('Four-Door Car')

In [25]:
data['Vehicle Size'].value_counts(dropna=False)/len(data)

Medsize    0.664620
Small      0.180202
Large      0.098167
NaN        0.057012
Name: Vehicle Size, dtype: float64

In [26]:
# Same criteria as before. 'Medsize' is the mode (with 66.4% of total) so Null -> 'Medsize'
data['Vehicle Size'] = data['Vehicle Size'].fillna('Medsize')

In [27]:
data.isna().sum()

Customer                         0
State                            0
Customer Lifetime Value          0
Response                         0
Coverage                         0
Education                        0
Effective To Date                0
Employment Status                0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
Vehicle Type                     0
dtype: int64

In [28]:
# Extract the months from the dataset and store in a separate column. 
# Then filter the data to show only the information for the first quarter 
data['Month']=data['Effective To Date']

In [29]:
data

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,Income,...,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,Month
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2/18/11
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1/18/11
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2/10/11
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1/11/11
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1/17/11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1/19/11
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1/6/11
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2/6/11
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2/13/11
10909,IV32877,Unknown,6857.519928,No,Basic,Bachelor,1/8/11,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1/8/11

In [30]:
data['Month'] = pd.to_datetime(data['Month'], errors='coerce')
for i in range(len(data)):
    data['Month'][i]=data['Month'][i].month

C:\Users\Usuario\AppData\Local\Temp/ipykernel_10380/2390565462.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Month'][i]=data['Month'][i].month

In [31]:
data['Month'].unique()

array([2, 1], dtype=object)

In [32]:
data[data['Month']==1]

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,Income,...,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,Month
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,66839,...,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,A,1
9,QX31376,Oregon,17114.328150,No,Extended,Master,1/4/11,Employed,F,70961,...,2,Corporate Auto,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,PP30874,California,3579.023825,No,Extended,High School or Below,1/24/11,Employed,F,28304,...,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A,1
10903,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,59855,...,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,1
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10909,IV32877,Unknown,6857.519928,No,Basic,Bachelor,1/8/11,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [33]:
def transform (file):  # all transformations inside this function
    data = pd.read_csv('files_for_lab/csv_files/'+file)
    data = data.rename(columns={'EmploymentStatus':'Employment Status'
                                                               })
    data=data.drop(['Unnamed: 0'], axis=1) 
    data['Vehicle Type'] = data['Vehicle Type'].fillna('A')
    data['State'] = data['State'].fillna('Unknown')
    data['Response'] = data['Response'].fillna('No')
    Menian_Months_Since_Last_Claim = data['Months Since Last Claim'].median()
    data['Months Since Last Claim'] = data['Months Since Last Claim'].fillna(Menian_Months_Since_Last_Claim)
    data['Number of Open Complaints'] = data['Number of Open Complaints'].fillna(0.0)
    data['Vehicle Size'] = data['Vehicle Size'].fillna('Medsize')
    data['Month']=data['Effective To Date']
    data['Month'] = pd.to_datetime(data['Month'], errors='coerce')
    for i in range(len(data)):
        data['Month'][i]=data['Month'][i].month
    return data[data['Month']==1]

In [34]:
transform('marketing_customer_analysis.csv')

C:\Users\Usuario\AppData\Local\Temp/ipykernel_10380/1065951290.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Month'][i]=data['Month'][i].month

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,Income,...,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,Month
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,66839,...,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,A,1
9,QX31376,Oregon,17114.328150,No,Extended,Master,1/4/11,Employed,F,70961,...,2,Corporate Auto,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,PP30874,California,3579.023825,No,Extended,High School or Below,1/24/11,Employed,F,28304,...,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A,1
10903,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,59855,...,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,1
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10909,IV32877,Unknown,6857.519928,No,Basic,Bachelor,1/8/11,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1